@keyframes fadeOut {
    0%   {
         opacity: 100%;
         margin-top:0;
         }
    60%   {
         opacity: 100%;
         margin-top:0;
         }
    100% { 
        opacity: 0%; 
        margin-top:-60px;
    }
 } 

.err{
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%,50%);
    width: fit-content;
    background-color: rgba(200, 0, 0,0.8);
    border: solid rgb(100, 0, 0);
    border-radius: 3vh;
    padding: 0.5% 1% 0.5% 1%;
    margin: 0 auto;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;

}

.succ{
    top: -2%;
    left: 50%;
    transform: translate(50%,50%);
    width: fit-content;
    background-color: rgba(120, 201, 0, 0.8);
    border: solid green;
    border-radius: 3vh;
    padding: 0.5% 1% 0.5% 1%;
    margin: 0 auto;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

.profil{
    position: absolute;
    top: 0;
    left:0;
    border: solid blue;
    background-color: rgba(0, 102, 255, 0.6);
    width: 10%;
    height: 100%;
}

.down{
    width: 100%;
    position: absolute;
    bottom:0;
    transform: translate(0,-25%);
}

.title{
    margin:1.5% auto;
    width: fit-content;
    padding: 0.5% 2% 0.5% 2%;
    border: solid black;
    font-size: large;
}

button:active::a{
    text-decoration: none;
    color: black;
}

a button{
    width: 100%;
}

a button{
    width: 100%;
}