.err{
    width: fit-content;
    background-color: rgba(200, 0, 0,0.6);
    border: solid rgb(100, 0, 0);
    border-radius: 3vh;
    padding: 0.5% 1% 0.5% 1%;
    margin: 0 auto;

}

.succ{
    width: fit-content;
    background-color: rgba(120, 201, 0, 0.6);
    border: solid green;
    border-radius: 3vh;
    padding: 0.5% 1% 0.5% 1%;
    margin: 0 auto;
}

.profil{
    position: absolute;
    top: 0;
    left:0;
    border: solid blue;
    background-color: rgba(0, 102, 255, 0.6);
    width: 10%;
    height: 100%;
}

.title{
    margin:0 auto;
    width: fit-content;
    padding:2px 10px 2px 10px;
}