@keyframes fadeOut {
    0%   {
         opacity: 100%;
         margin-top:0;
         }
    60%   {
         opacity: 100%;
         margin-top:0;
         }
    100% { 
        opacity: 0%; 
        margin-top:-60px;
    }
 } 
 

.err{
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%,50%);
    width: fit-content;
    background-color: rgba(200, 0, 0,0.8);
    border: solid rgb(100, 0, 0);
    border-radius: 3vh;
    padding: 0.2% 1% 0.2% 1%;
    margin: 0 auto;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;

}

.succ{
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%,50%);
    width: fit-content;
    background-color: rgba(120, 201, 0, 0.8);
    border: solid green;
    border-radius: 3vh;
    padding: 0.2% 1% 0.2% 1%;
    margin: 0 auto;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

.profil{
    min-width: 15%;
    max-width: fit-content;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    background-color: rgba(0, 102, 255, 0.6);
    height: 100%;
    align-items: center;
}

.recherche{
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
    background-color: white;
    background-image: url('icon/search.png');
    background-position: 5px 5px; 
    background-size: 12px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 30px;
    
}

.down{
    min-width: 100%;
    max-width: fit-content;
    position: absolute;
    bottom:0;
    transform: translate(0,-25%);

}

.deconnexion{
    min-width: 100%;
    max-width: fit-content;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.form-fit{
    margin: 0 auto;
    padding: 5%;
    min-width: fit-content;
    max-width: 20%;
    border: solid rgb(62, 165, 255);
    border-radius: 15px;
    background-color: rgba(0, 0, 174, 0.6);
}

.title{
    margin:1.5% auto;
    width: fit-content;
    padding: 0.3% 2% 0.3% 2%;
    border: solid black;
    border-radius: 15px;
    font-size: x-large;
}

.sub-title{
    margin:1.5% auto;
    width: fit-content;
    padding: 0.3% 2% 0.3% 2%;
    border: solid black;
    border-radius: 10px;
    font-size:large;
}

.user-button{
    min-width: 100%;
    max-width: fit-content;
    font-size: medium;
    background-color: rgba(0, 0, 174, 0.6);
    color: rgb(201, 201, 255);
    border: none;
    margin: 0.2%;
}

.user-button:hover{
    background-color: rgba(0, 0, 225, 0.6);
}


.choice-button{
    max-width: fit-content;
    min-width: 90%;
    font-size: medium;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1% 5% 1% 7%;
    border-radius: 2px 15px 2px 15px;
    margin: 4px;
    text-align: right;
    border: none;
    text-decoration: none;
    position: relative;
    float: right;
}

.choice-button img{
    vertical-align: middle;
}

.choice-button:hover{
    background-color: rgb(130, 180, 255);
    color: white;
}

/* Timothée */

.touite{
    margin:1.5% auto;
    width: 25%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    border-radius: 3vh;
    background-color: rgba(0, 102, 255, 0.6);

}

.messageTouite{
    padding-left: 10%;
    padding-right: 10%;
    color: #ececec;
}

.proprioTouite{
    padding-left: 5%;
    color: #ececec;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}

.voirplus{
    padding-left: 5%;
    color: #ececec;
}

.tag{

    margin:1.5% auto;
    width: 25%;
    padding-right: 10%;

    border-radius: 3vh;
    background-color: rgba(0, 102, 255, 0.6);
}
#labeltag{
    font-family: Algerian;
    margin-left: 250px;
    margin-right: auto;

}